%html
	%head
		%title Welcome to the NoRM Project.
		%link{:href=>'./main.css', :rel=>'stylesheet',:type=>'text/css'}
	%body
		%a{:href=>'http://github.com/atheken/norm'}
			%img{:class=>'github-ribbon',:src=>'http://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png', :alt=>'Fork me on GitHub'}
		.content.margin50top
			&nbsp;
			.margin50top
				%center
					%img{:src=>'./imgs/normLogo.png'}
					%h1 Soon. Very Soon.
		%script{:type=>'text/javascript'}
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-17007244-1']);
			_gaq.push(['_trackPageview']);
			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
			})();
