.centered
    .sampleHead
        %li.name Access LINQ-to-MongoDB
        .sampleBody
            <script src="http://gist.github.com/471224.js?file=LINQ-to-MongoDB.cs"></script>
    .sampleHead
        %li.name Rob Conery's MongoSession
        .sampleBody
            <script src="http://gist.github.com/444817.js"></script>    
