.centered
    - i = 0
    - for s in @samples
        - i += 1
        .sampleHead{:class=> i == 1 ? 'active' : ''}
            %li.name
                .head=s["name"]
                %a.downloadLink{:href=> "http://gist.github.com/gists/"+s["gist"].to_s()+"/download"} Download
            .sampleBody
                %script{:src => "http://gist.github.com/"+s["gist"].to_s()+".js", :type=>"text/javascript"}