.centered
    - i = 0
    - for s in @samples
        - i += 1
        .sampleHead{:class=> i == 1 ? 'active' : ''}
            %li.name=s["name"]
            .sampleBody
                %script{:src => s["gist"], :type=>"text/javascript"}